-
	pages = [
	
		{
			'name':'Главная!1',
			'href':'index.html'
		},
		{
			'name':'Контакты',
			'href':'contact.html'
		}
	
	]

	templates = [
	
		{
			'github':'https://github.com/fantazer/box',
			'youtube':'https://youtu.be/wDMyqcjNX18?list=PL6xKDcb0aS6EDdanC9fMKcvI9hGagXIS1',
			'link':'http://kuznetcov.org/PORTFOLIO/BOX/',
			'livecoding':'https://www.livecoding.tv/fantazer/videos/k1677-psd-to-html-box'
		},
		{
			'github':'https://github.com/fantazer/P_URANOS',
			'youtube':'https://youtu.be/VZZSVxiRxPI?list=PL6xKDcb0aS6E_nJ_TTxXl9Wn1NG9G2yjf',
			'link':'http://kuznetcov.org/PORTFOLIO/URANOS/',
			'livecoding':'https://www.livecoding.tv/fantazer/videos/k1677-psd-to-html-box'
		},
		{
			'github':'https://github.com/fantazer/hero',
			'youtube':'https://www.youtube.com/playlist?list=PL6xKDcb0aS6HBczbKWdvF1T2FZHE4Ppyi',
			'link':'http://kuznetcov.org/PORTFOLIO/HERO/',
			'livecoding':'https://www.livecoding.tv/fantazer/videos/xyMxp-psd-to-html-hero'
		},
	
	
	]
	
